<div class="user-custom-container">
  <form class="userInfo">
    <mat-grid-list [cols]="4" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="First Name" [(ngModel)]="user.firstName" type="text" name="firstName">
        </mat-input-container>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" type="text" name="lastName">
        </mat-input-container>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="4" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password">
        </mat-input-container>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="Login user" [(ngModel)]="user.login" type="text" name="loginUser">
        </mat-input-container>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="4" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.dateBirth" name="dateBirth"
                 placeholder="Choose your birth date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-input-container>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="Email" type="email" [(ngModel)]="user.email" name="email">
        </mat-input-container>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="4" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="Phone number" [(ngModel)]="user.phone" name="phone" type="text">
        </mat-input-container>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <mat-select placeholder="Sex" [(value)]="user.sex">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-input-container>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="4" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="City" name="city" [(ngModel)]="user.city" type="text">
        </mat-input-container>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-input-container>
          <input matInput placeholder="Home address" name="homeAddress" [(ngModel)]="user.homeAddress" type="text">
        </mat-input-container>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button [routerLink]="'/main'">Create</button>
    <button mat-raised-button [routerLink]="'/login'">Cancel</button>
  </form>
  <!--(click)="createUser()"-->
</div>
