table {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
