<div class="app-header">
  <h1 class="app-heading"></h1>
</div>
<!-- Application header ends -->

<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <!-- Writing markup for login starts -->
  <mat-grid-tile class='login-element'>
    <div class="login-container">
      <!-- Template Header starts -->
      <div class="login-box-header">
        Login
      </div>
      <!-- Template Header ends -->

      <!-- Template Body starts -->
      <div class="login-box-body">
        <!-- Markup for getting Username starts -->
        <form (ngSubmit)="loginUser()">
            <mat-form-field class="full-width">
              <input type="text" matInput  [(ngModel)]="credential.login" placeholder="Your username" name="username" id="username" >
            </mat-form-field>
            <mat-form-field class="full-width">
              <input type="password" matInput [(ngModel)]="credential.password"  placeholder="Your password" name="password" id="password" >
            </mat-form-field>
          <button mat-raised-button type="submit" class="mat-primary">Login</button>
          <button mat-raised-button (click)="checkSession()" class="login-button">Create account</button>
        </form>

        <!-- Markup for getting Password ends -->

      </div>

      <!-- Template Body ends -->
    </div>
  </mat-grid-tile>
</mat-grid-list>
