<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <span>Hospd application</span>
    <span class="menu-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Option</button>
      <button mat-menu-item>Create</button>
    </mat-menu>
    <button class="button-menu" (click)="logout()" mat-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
